.homapage-part {
  /* background-image: url('./images/hm-bg.jpg'); */
  position: relative;
}
.home-bg {
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

.services-part {
  z-index: 10;
}

.carousel .item {
  height: 300px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

.visit-btn {
  text-decoration: none;
  /* background-color: aqua; */
  padding: 0.5rem 1.5rem;
  color: aqua;
  border: 1.5px solid aqua;
}

.visit-btn:hover {
  background-color: aqua;
  color: black;
}

.service-card {
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.service-card-img {
  /* position: absolute; */
  height: 15rem;
  width: 100%;
  /* filter: blur(0.2rem); */
  /* z-index: -1; */
}
.service-title {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service-details {
  height: 18rem;
}

.food-img {
  opacity: 0.8;
}

.food-img:hover {
  opacity: 1;
}

.offer-img-1 {
  position: absolute;
  width: 30rem;
  top: 220rem;
  left: 20rem;
}

.offer-img-2 {
  position: absolute;
  width: 30rem;
  top: 215rem;
  left: 40rem;
}
.offer-des {
  position: absolute;
  top: 232rem;
  left: 45rem;
  padding: 3rem 3rem;
  border-radius: 100%;
}
.offer-part {
  margin-bottom: 40rem;
}

/* media query  */

@media onlY screen and (min-width: 0px) and (max-width: 688px) {
  .offer-img-1 {
    position: absolute;
    width: 15rem;
    top: 440rem;
    left: 1rem;
  }
  .offer-img-2 {
    position: absolute;
    width: 14rem;
    top: 440rem;
    left: 10rem;
  }
  .offer-des {
    position: absolute;
    top: 450rem;
    left: 10rem;
    padding: 2rem 2rem;
    border-radius: 100%;
  }
  .offer-part {
    margin-bottom: 25rem;
  }
}
