.homapage-part {
  position: relative;
}

.home-bg {
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

.services-part {
  z-index: 10;
}

.carousel .item {
  height: 300px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

.visit-btn {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  color: aqua;
  border: 1.5px solid aqua;
}

.visit-btn:hover {
  background-color: aqua;
  color: black;
}

.service-card {
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.service-card:hover {
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #293b4b 0%, #c0b9af 74%);
  transform: scale(1.01);
  transition: 0.3s;
}

.service-card-img {
  height: 15rem;
  width: 100%;
}

.service-title {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-details {
  height: 12rem;
}

.hm-service-des {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-img {
  opacity: 0.8;
}

.food-img:hover {
  opacity: 1;
}

.food-big {
  height: 46rem;
}

.offer-img-1 {
  position: absolute;
  width: 30rem;
  top: 195rem;
  left: 20rem;
}

.offer-img-2 {
  position: absolute;
  width: 30rem;
  top: 195rem;
  left: 40rem;
}

.offer-des {
  position: absolute;
  top: 212rem;
  left: 45rem;
  padding: 3rem 3rem;
  border-radius: 100%;
}

.offer-part {
  margin-bottom: 45rem;
}

.hm-topic-underline {
  width: 20rem;
  border-top: 3px solid rgb(155, 154, 154);
}

.details-img {
  width: 40rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.details-des {
  width: 33rem;
  text-align: justify;
}

.details-part {
  color: aqua;
}

.details-align {
  background: rgba(116, 129, 116, 0.63);
  border-radius: 0 0.5rem 0.5rem 0;
}

.service-details-part {
  border-radius: 1rem;
}

/* media query  */

@media onlY screen and (min-width: 0px) and (max-width: 688px) {
  .offer-img-1 {
    position: absolute;
    width: 15rem;
    top: 420rem;
    left: 1rem;
  }
  .offer-img-2 {
    position: absolute;
    width: 14rem;
    top: 420rem;
    left: 10rem;
  }
  .offer-des {
    position: absolute;
    top: 428rem;
    left: 10rem;
    padding: 2rem 2rem;
    border-radius: 100%;
  }
  .offer-part {
    margin-bottom: 25rem;
  }
  .hm-topic-underline {
    width: 10rem;
  }
  .details-des {
    width: 19rem;
    text-align: justify;
  }
  .details-img {
    width: 40rem;
    border-radius: 0.5rem 0.5rem 0 0rem;
  }
  .details-align {
    background: rgba(116, 129, 116, 0.63);
    border-radius: 0 0rem 0.5rem 0.5rem;
  }
}
