.hello {
  background: rgba(116, 129, 116, 0.3);
  color: aliceblue;
}

.nav-btn {
  text-decoration: none;
  color: rgb(201, 198, 198);
}
.nav-btn:hover {
  color: rgb(253, 252, 252);
}
.nav-account-btn {
  border: 1px solid rgb(34, 196, 142);
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
}
.nav-user-img {
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
  border: 1px solid aquamarine;
}
.nav-account-btn:hover {
  border: 1px solid aquamarine;
  /* border-radius: 0.5rem; */
}
